<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>

<body>
<div class="whole">
        Welcome {{UserName}}!
        <button type="submit" (click)="add()" style="background-color: black;color: blanchedalmond;">Edit Profile</button>
        <div *ngIf="addclick==1">
            <form style="border-width: 2px;width: max-content;height: max-content;">
                <table>
                        <tr>
                            <td>MentorName</td>
                            <td><input type="text" name="mentorname"  [(ngModel)]="item.mentorName"></td>
                        </tr>
                    <tr>	
                            
                        <td>Email ID</td>
                                  <input type ="text"  placeholder="Enter Email" name="emailid"  [(ngModel)]="item.mEmailID" /> <br>
                                  <!-- <div  *ngIf="email1.errors && (email1.dirty || email1.touched)">
                                      <p  *ngIf="email1.errors.required"> * Email ID is required </p> 
                                      <p  *ngIf="email1.errors.email"> * Email ID is not valid </p>
                                    </div> -->
                                
                    </tr>
                        <tr>
                            <td>mobilenumber</td>
                            <td><input type="number" name="mobileNum"  [(ngModel)]="item.mobilenumber"></td>
                        </tr>
                        <tr>
                            <td>experiance</td>
                            <td><input type="text" name="experience" [(ngModel)]="item.experiance"></td>
                        </tr>
                        <tr>
                            <td>Skills</td>
                            <td><input type="text" name="skill" [(ngModel)]="item.skills"></td>
                        </tr>
                        <tr>
                            <td>timeslot</td>
                            <td><input type="text" name="timeslt" [(ngModel)]="item.timeslot"></td>
                        </tr>
                        <tr>
                            <td>availability</td>
                            <td><input type="checkbox" name="avail" [(ngModel)]="item.availability"></td>
                        </tr>
                        <tr>
                                <td>  PassWord </td>
                                <td><input type ="password" placeholder="Enter Password" name="pwd"  [(ngModel)]="item.password" /> </td>
                                <!-- <div  *ngIf="password.errors && (password.dirty || password.touched)">
                                    <p  *ngIf="password.errors.required"> * Password is required </p> 
                                    <p  *ngIf="password.errors.pattern"> PassWord Pattern doesnot match </p>
                                  </div> -->
                        </tr>
                        <tr>
                            <td>Active</td>
                            <td><input type="checkbox" name="act" id="" [(ngModel)]="item.active"></td>
                        </tr>
                        
                        
                        
                        <tr><td><button type="submit" (click)="Update()" style="background-color: black;color: blanchedalmond;width:400px;">Edit</button></td></tr>
                        </table>
                        </form>
       </div>  
       <button type="submit" (click)="MentorCurTrainings()"style="background-color: black;color: blanchedalmond;"> Current Trainings</button>
       <form style="border-width: 2px;width: max-content;height: max-content;">
       <table>
       
        <thead>
                <tr>
                    <th>Training-ID</th>
                    <th>User ID</th>
                    <th>Mentor ID</th>
                    <th>Skill ID</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Timeslot</th>
                    <th>Status</th>
                    <th>Progress</th>
                    <th>Rating</th>
                    
                </tr>
            </thead>
        <tbody *ngFor="let items of lists">
          <tr>
            <td>
            {{items.trainingId}}  
            </td>
            <td>
                {{items.userId}}
              </td>
              <td>
                  {{items.mentorId}}
                </td>
                <td>
                    {{items.skillId}}
                  </td>
                  <td>
                    {{items.startDate}}
                  </td>
                  <td>
                    {{items.endDate}}
                  </td>
                  <td>
                    {{items.timeslot}}
                  </td>
                  <td>
                    {{items.status}}
                  </td>
                  <td>
                    {{items.progress}}
                  </td>
                  <td>
                    {{items.rating}}
                  </td>
    
    </tr>
    </tbody>
    </table>   
    </form> 
       </div>
       </body>
       </html>