<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>

<form style="border-width: 2px;width: max-content;height: max-content;">
    <table>
		<thead>
							 <tr>
								 <th>ID</th>
								 <th>Name</th>
                                 <th>Email</th>
                                 <th>Mobile</th>
								 <th>Password</th>
								 <th>Active</th>
								 <th>Block</th>
								 <th>UnBlock</th>								 
                                  <th>Delete</th>
							 </tr>
						 </thead>
	   
	   <tbody *ngFor="let item of list">
		 <tr>
		   <td>
			 {{item.userId}}
		   </td>
		   <td>
			   {{item.name}}
			 </td>
			 <td>
				 {{item.emailID}}
			   </td>
			   <td>
				   {{item.mobilenumber}}
				 </td>
				 <td>
					 {{item.password}}
				 </td>
				 <td>
						{{item.active}}
					</td>
					<td> <button type="submit" (click)="Block(item.userId)">Block</button></td>
					<td> <button type="submit" (click)="UnBlock(item.userId)">UnBlock</button></td>
					<td> <button type="submit" (click)="Delete(item.userId)">Delete</button></td>
				 </tr>
	 
	   </tbody>
     </table>
     </form>
     </html>